html {
    font-size: 5px;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(248, 248, 248);
    margin: 0;
}

#info {
    color: rgb(248, 248, 248); 
    background: rgb(19, 19, 19);
    height: 8rem;
}

nav {
    position: relative;
    background: rgb(248, 248, 248); /*RGB(248,248,248)*/
    height: 10rem;
    display: flex;
    justify-content: right;
    gap: 2.5rem;
}

#logo {
    position: absolute;
    width: 9rem;
    height: 9rem;
    left: 2rem;
    top: 0.5rem;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto 0;
    margin-right: 2rem;
    padding: 0;
    border: 0;
    background: rgb(248,248,248);
}

.icon-img {
    width: 3rem;
    height: 3rem;
}

#start-foto {
    height: 100rem;
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center 100%;
}

/*#dark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    inset: 0;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
}*/

#greeting-product {
    margin-left: 1rem;
    font-size: 3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#greeting-product h3 {
    margin-top: 2rem;
    margin-bottom: 0;
}
#greeting-product p {
    margin-top: 1rem;
}
#greeting-product a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    margin-top: 3rem;
    display: block;
    height: 5rem;
    width: 13rem;
    border-radius: 3rem;
    border: 0;
    background: rgb(14, 14, 14);
    color: rgb(249, 249, 249);
    line-height: 4.7rem;
} 


#our-products {
    width: 90%;
    margin-top: 3.5rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.product-topic {
    margin: 0;
}

.product-topic h4 {
    font-size: 4rem;
    font-weight: lighter;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    margin-top: 3rem;
}

.product-topic p {
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.shop-foto {
    width: 100%;
    height: 35rem;
    margin: 0;
    object-fit: cover;
    object-position: 80%;
    margin-top: 2rem;
}

.shop-link {
    display: block;
    width: 100%;
    height: 7rem;
    color: white;
    background: black;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 7rem;
    font-weight: 550;
}

